<li id="spud_events_admin_calendar_legend_<%= calendar.id %>" class="spud_events_admin_calendar_legend_item">
  <div class="spud_events_admin_calendar_actions pull-right">
    <%= link_to 'edit', edit_admin_calendar_path(calendar), :class => "btn btn-sm btn-default" %>
    <%= link_to 'delete', admin_calendar_path(calendar), :remote => true, :data => {:confirm => "This action can't be undone. Would you like to remove the calendar \"#{calendar.title}\"?"}, :method => :delete, :class => 'js-spud-calendar-delete-action btn btn-sm btn-danger' %>
  </div>
  <%= content_tag :span, calendar.title, :style => "background-color: \##{calendar.color}", :class => 'label' %>
  <div class="clearfix"></div>
</li>
