<%= form_for @calendar, :url => (@calendar.new_record? ? admin_calendars_path : admin_calendar_path(@calendar)), :builder => TbCore::FormBuilder, :html => {:class => "form-horizontal"} do |f| %>
  <%= tb_form_errors(f.object) %>
  <%= f.tb_text_field :title %>
  <%= f.tb_save_buttons('Calendar', admin_list_spud_calendar_events_path) %>
<% end %>
