<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>&nbsp;</th>
  </tr>
  <tbody>
    <% cache(@events) do %>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.start_at.strftime('%D') %></td>
          <td><%= link_to 'Details', calendar_event_path(event) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@events) %>
