<h1><%= @event.title %></h1>
<p><b>Calendar:</b> <%= @event.spud_calendar.title %></p>
<p><em><%= @event.start_at %> - <%= @event.end_at %></em></p>
<%= simple_format(@event.description) %>

<p><%= link_to 'Events List', calendar_events_path %> | <%= link_to 'Calendar', calendar_path %></p>

