<% @page_title = @calendar_date.strftime("Events Calendar %B %Y") %>

<h1><%= @page_title %></h1>

<nav id="events-calendar-nav">
  <%= link_to_previous_calendar_month(@calendar_date) %>
  <%= link_to_next_calendar_month(@calendar_date) %>
</nav>

<%= spud_calendar_for_events(@events, @calendar_date) do |day, events| %>
  <span class="calendar-day">
    <%= day.day %>
  </span>
  <ul class="calendar-events">
    <% events.each do |event| %>
      <li><%= link_to truncate(event.title, :length => 25), calendar_event_path(event.id) %></li>
    <% end %>
  </ul>
<% end %>
