<%= link_to_next_admin_calendar_month @calendar_date %>
<%= link_to_previous_admin_calendar_month @calendar_date %>

<%= spud_calendar_for_events(@calendar_events, @calendar_date, :headers => ['S', 'M', 'T', 'W', 'T', 'F', 'S']) do |day, events| %>
  <span class="calendar-day">
    <%= day.day %>
  </span>
  <ul class="calendar-events-list">
    <% events.each do |event| %>
      <li>
        <%= link_to edit_admin_calendar_event_path(event.id) do %>
          <span class="label" style="background-color: #<%= event.spud_calendar.color %>">
            <%= truncate(event.title, :length => 25) %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
