<%= form_for @calendar_event, :url => path, :builder => TbCore::FormBuilder, :html => {:class => "form-horizontal"} do |f| %>
  <%= tb_form_error_header(f.object) %>

  <%= f.tb_select :spud_calendar_id, options_from_collection_for_select(SpudCalendar.all, :id, :title, @calendar_event.spud_calendar_id) %>

  <%= f.tb_text_field :title %>
  <%= f.tb_text_area :description, :style => "width:100%;", :class => 'tinymce full-width' %>
  
  <%= f.tb_datetime_select :start_at, :ampm => true, :minute_step => 5 %>
  <%= f.tb_datetime_select :end_at, :ampm => true, :minute_step => 5 %>

  <%= f.tb_text_field :location %>
  <%= f.tb_text_field :address %>
  <%= f.tb_text_field :address_2 %>
  <%= f.tb_text_field :city %>
  <%= f.tb_text_field :state %>
  <%= f.tb_text_field :zip %>

  <%= f.tb_save_buttons 'Event', admin_list_spud_calendar_events_path, @calendar_event.id ? admin_calendar_event_path(@calendar_event) : nil %>

<% end %>