<% @page_name = "Events - #{@calendar_date.strftime('%B %Y')}" %>

<%= content_for :data_controls do %>
  <%= link_to "New Calendar", new_admin_calendar_path, :class => "btn btn-default" %>
  <%= link_to "New Event", new_admin_calendar_event_path, :class => "btn btn-primary" %>
<% end %>

<%= content_for :detail do %>

  <div class="row">
    <div id="spud_events_admin_calendar" class="col-md-8">
      <%= render :partial => 'calendar' %>
    </div>

    <div class="col-md-4">
      <ul id="spud_events_admin_calendar_legend">
        <%= render :partial => 'admin/calendars/calendar_legend', :collection => @calendars, :as => :calendar %>
      </ul>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      spud.admin.events.init();
    });
  </script>

<% end %>
